<style>

#inforamtion{
    margin:auto;
    align:center;
    width:60px;
    height:60px;
    border-style: solid;
    border-width: medium;
    border-color: black;
}


</style>

<div align = "center" id = "inforamtion">
</div>

<div class = "books-block" align = "center">
<ul class = "books"> Title
{{#each books as |book|}}
<li><a href = /books/{{book.slug}}>{{book.title}}</a></li>
{{/each}}
</ul>

<ul class = "books"> Author
{{#each books as |book|}}
<li>{{book.author}}</li>
{{/each}}
</ul>

<ul class = "books"> ISBN
{{#each books as |book|}}
<li>{{book.isbn}}</li>
{{/each}}
</ul>
</dive>
